<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut" href="/favicon.ico">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Form - test</legend>
        <form action="/stream" method="post" enctype="multipart/form-data">
            <p>
                <label>Input File:</label>
                <input type="file" name="test"/>
            </p>
            <input type="submit" value="Submit"/>
            <input type="hidden" name="csrf-token" value="$csrf"/>
        </form>
    </fieldset>
</body>
</html>